/* index.css */

/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global font and background */
body {
  font-family: "Lato", sans-serif;
  background-color: #f4f7f9;
  color: #333;
  line-height: 1.5;
}

/* Global link styles */
a {
  text-decoration: none;
  color: inherit;
}